---
---
<div class="bg-[#363634] text-[#EAE1D2]">
<div class=" py-10 grid grid-cols-2 gap-2 lg:grid-cols-3">
<div class="mx-10 lg:mx-20">
    <p class="font-['Oskar'] text-md lg:text-xl">kontakt</p>
    <a class="font-light font-['Arial'] text-[10px] lg:text-[13px]" href="tel:+4540973670"><span class="font-bold">Telefon:</span> <br> 40 97 36 70</a>
    <br class="mb-4">
    <a class="font-['Arial'] text-[10px] lg:text-[13px]" href="mailto: Marcus@Brolæggerteamet.com"><span class="font-bold">Mail:</span> <br> Marcus@Brolæggerteamet.com</a>
    <br class="mb-4">
    <a class="font-['Arial'] text-[10px] lg:text-[13px]" href="mailto: Marcus@Brolæggerteamet.com"><span class="font-bold">Bogholderi:</span> <br> Marcus@Brolæggerteamet.com</a>
</div>

<div class="mx-8 lg:col-start-3 lg:mx-20 lg:ml-40">
    <p class="font-['Oskar'] text-md lg:text-xl">Adresse</p>
    <p class="font-light font-['Arial'] text-[10px] lg:text-[13px]" ><span class="pt-10">Bagsværd hovedgade 53-57</span> <br>  2880 Bagsværd</p>

    <br class="mb-4">
    <p class="font-['Oskar'] text-md lg:text-xl">CVR</p>
    <p class="font-['Arial'] text-[10px] lg:text-[13px]">28901720</p>
</div>

    <div class=" font-['Oskar'] text-xs lg:text-xl lg:col-start-2 hidden lg:block lg:ml-32 lg:-mt-28 lg:col-span-full ">
        &copy; BrolæggerTeamet 2024 
       </div>
  
</div>


<div class="flex justify-center pb-10 font-['Oskar'] text-xs lg:text-xl lg:col-start-2 lg:hidden">
    &copy; BrolæggerTeamet 2024 
   </div>
</div>
  
