---
import Button from "./Button.astro"

---

<div class="mx-10 mt-10 rounded-md">
   <div class="bg-[#EAE1D2] px-10 max-w-full rounded-md">
        <h2 class="text-[#6B7050] text-center pb-4 font-['Oskar'] text-[36px] pt-10 lg:text-[48px]">Ansøg Her</h2>

  
        <p class="font-['Arial'] text-[14px] pt-2 text-[#3E2F28] pb-6 lg:text-[18px] text-center lg:px-4">Vi anbefaler at du i den ansøgning, inkluderer dine tidligere erfaringer samt dine kompetencer. <br class="mb-2"> <span class="font-bold">Vi ser meget frem til at høre fra dig</span></p>


      <div class="flex justify-center pt-4 lg:hidden send">
        <a href="mailto:Kontakt@brolæggerteamet.com">
        <Button type="submit" variant="primary" size="small" >Send ansøgning</Button>
    </a>
      </div>

      <div class="flex justify-center pt-4 send">
        <a class="hidden lg:block" href="mailto:Kontakt@brolæggerteamet.com">
        <Button type="submit" variant="primary" size="medium" >Send ansøgning</Button>
        </a>
      </div>


        <p class="text-sm font-['Arial text-[#6B7050] pt-4 pb-10 text-center">
          *Din ansøgning vil åbne i dit mail program. <br />
          Her kan du tilføje dit CV og andet bilag*
        </p>
    </div>
</div>



        `
    <style>
        ::placeholder{
            color: #B5AFA4;
        }
    </style>

