---
import { Image } from "astro:assets";
import Hakke from "../assets/images/bro.webp";
---

<div class="lg:grid lg:grid-cols-2 lg:mt-10">
<div class="mx-10 lg:mx-20">
    <h1 class="text-[#6B7050] font-['Oskar'] text-[36px] pt-10 lg:text-[48px]">Om os</h1>
    <p class="font-['Arial'] text-[14px] pt-2 text-[#3E2F28] lg:text-[18px]">BrolæggerTeamet blev i 1998, stiftet af brolæggermester Allan Frederiksen. </p>

    <p class="font-['Arial'] text-[14px] pt-2 text-[#3E2F28] lg:text-[18px] lg:pt-4">BrolæggerTeamet har dygtige faglært og erfarende mænd, som kan varetage diverse opgaver indenfor anlægsning, og det grå gardneri.</p>
        
    <p class="font-['Arial'] text-[14px] pt-2 pb-10 text-[#3E2F28] lg:text-[18px] lg:pt-4">Vi har i mange år varetaget anlægsarbejde for Gladsaxe kommune, med de primære opgave, værende renovering af fortorv.</p>
</div>

<div class="w-84 mx-10 pb-10 lg:max-w-[600px] lg:pt-10 lg:pb-20 lg:pr-12">
    <Image class="rounded-sm" src={Hakke} alt="Arbejdende folk på rædder række"></Image>
</div>
</div>

