---
import { Image } from "astro:assets";
import Lastbil from "../assets/images/lastbil.webp";
---

<div class="lg:grid lg:grid-cols-2 bg-[#6B7050] lg:mt-20">

<div class=" mx-10 lg:mx-20 lg:col-start-2 lg:order-1">
    <h1 class="text-[#EAE1D2] font-['Oskar'] text-[36px] pt-10 lg:text-[48px] lg:pt-20">Vi tilbyder arbejde indenfor:</h1>
    <li class="font-['Arial'] text-[16px] mx-4 pt-2 text-[#EAE1D2] lg:text-[18px] lg:pt-4">Totalentrepriser</li>
    <li class="font-['Arial'] text-[16px] mx-4 pt-2 text-[#EAE1D2] lg:text-[18px] lg:pt-4">Anlægsarbejde</li>
    <li class="font-['Arial'] text-[16px] mx-4 pt-2 text-[#EAE1D2] lg:text-[18px] lg:pt-4">Nyanlægning samt renovering af fortove</li>
    <li class="font-['Arial'] text-[16px] mx-4 pt-2 text-[#EAE1D2] lg:text-[18px] lg:pt-4">Overkørsler sat i brosten</li>
    <li class="font-['Arial'] text-[16px] mx-4 pt-2 text-[#EAE1D2] lg:text-[18px] lg:pt-4">Alle former for chaussestens belægning</li>
    <li class="font-['Arial'] text-[16px] mx-4 pt-2 text-[#EAE1D2] lg:text-[18px] lg:pt-4">Traditionel brolægning</li>
    <li class="font-['Arial'] text-[16px] mx-4 pt-2 text-[#EAE1D2] lg:text-[18px] lg:pt-4">Nedgravninger</li>
    <li class="font-['Arial'] text-[16px] mx-4 pt-2 text-[#EAE1D2] lg:text-[18px] lg:pt-4">Snerydning og saltning</li>
    <li class="font-['Arial'] text-[16px] mx-4 pt-2 text-[#EAE1D2] lg:text-[18px] lg:pt-4">Asfaltering</li>
    <li class="font-['Arial'] text-[16px] mx-4 pt-2 pb-10 text-[#EAE1D2] lg:text-[18px] lg:pt-4 lg:pb-20">Betonarbejde</li>

</div>

<div class="mx-10 pb-10 lg:mx-20 lg:col-start-1 lg:pt-52">
    <Image class="rounded-sm" src={Lastbil} alt="Mand lægger brosten"></Image>
</div>