---
import { Image } from "astro:assets";
import Arbejde from "../assets/images/icon.webp";
---

<div class="lg:grid lg:grid-cols-2 lg:mt-16">
<div class="mx-10 lg:mx-20">
    <h1 class="text-[#6B7050] font-['Oskar'] text-[36px] pt-10 lg:text-[48px]">BrolæggerTeamet</h1>
    <p class="font-['Arial'] text-[14px] pt-2 text-[#3E2F28] lg:text-[18px]">BrolæggerTeamet Aps har base i Bagsværd, og blev stiftet i 1998.  Siden da, er det blevet til mange kilometers fortove, indkørsler, og  tilfredse kunder og borgere. </p>

    <p class="font-['Arial'] text-[14px] pt-2 text-[#3E2F28] lg:text-[18px] lg:pt-4">Vi har i løbet af vores 25 års erfaring i branchen løst mange  forskelligartede opgaver, omkring hovedstadsområdet.</p>
        
    <p class="font-['Arial'] text-[14px] pt-2 pb-10 text-[#3E2F28] lg:text-[18px] lg:pt-4">Vi er stolte af vores håndværk, og lægger en dyd i altid at  leverer til en meget høj kvalitet.          
        Vores opgave er at det vi laver, kan modstå tid og elementer. 
        Vi  udvælger derfor altid de bedste og mest holdbare materialer.</p>
</div>

<div class="w-48 mx-24 pb-10 lg:w-80 lg:pt-28 lg:gap-20">
    <Image src={Arbejde} alt="Arbejden figur"></Image>
</div>
</div>